/* El código de las animaciones de los ojos 
le pertenece a Prashant Yadav en https://learnersbucket.com/tutorials/js-projects/eye-follow-cursor-in-javascript/ 
*/

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.button {
  position: absolute; /* Add this line to enable positioning */
  top: 90%; /* Position from the top */
  left: 44%; /* Position from the left */
}

/* Definimos los ojos */
.eyes {
  /* position: relative; */
  margin: 10px; /* Adjust the spacing between the eyes? */
  width: 120px;
  height: 100px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 3px;
  position: relative;
  overflow: hidden;
}

/* La retina */
.eye-retina {
  display: inline-block;
  width: 30%;
  height: 50%;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*El codigo original para crear el gato 
le pertenece a Chung Chloe y esta publicado en:
https://codepen.io/chungchloe/pen/gOwJGzz*/

/*Container*/
.gigi {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 5em;
  margin-left: -10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Acá definimos la parte externa de las orejas*/
.ears {
  position: relative;
  width: 0;
  height: 0;
  z-index: -1;
}
/*La parte externa de las orejas*/
.ears:before {
  content: "";
  position: relative;
  display: block;
  width: 0; /*    margin: 10px; /* Adjust the spacing between the eyes? */
}

#ear1 {
  bottom: 3em;
  left: 10em;
  rotate: -30deg;
  border-bottom: 200px solid #111;
  border-left: 150px solid transparent;
}

#ear2 {
  bottom: 15em;
  right: -30em;
  rotate: 30deg;
  z-index: -1;
  border-bottom: 200px solid #111;
  border-right: 150px solid transparent;
}

/*Face*/
.face {
  position: relative;
  z-index: 1;
  overflow: visible;

  width: 400px;
  height: 300px;
  border-radius: 50%;
  background: rgb(34, 34, 34);
  background: linear-gradient(to right, #222 15%, #4a4a4a);

  /* Use margin to move the face */
  margin-top: 30px; /* Move down */
  margin-left: 40px; /* Move right */
}

/*Eyes*/
.eyes {
  position: relative;
  margin: 10px;
  width: 110px;
  height: 120px;
  background: #eee;
  border-radius: 50%;
}

#eye1 {
  /* !Change pos of eyes, and objects */
  bottom: -6em;
  left: 0em;
  background: linear-gradient(to right, #bbb, #eee 50%);
}

#eye2 {
  bottom: 2em;
  right: -15em;
  background: linear-gradient(to left, #bbb, #eee 50%);
}

#eye1:before {
  left: 3.2em;
}

/* Nariz */
.nose {
  position: absolute;
  z-index: 10000;
  bottom: 2em;
  left: 10em;
  width: 10px;
  height: 10px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 35px solid #d66f83;
  border-radius: 30%;
}

/*Ribbon*/
.ribbon {
  position: relative;
}

.ribbon div {
  position: absolute;
}

#ribbon-middle {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  bottom: -4em;
  left: 10em;
  background: linear-gradient(to right, #d81f3e, #bf0035);
  z-index: 2;
}

.ribbon-sides,
.ribbon-sides:after {
  border-radius: 15%;
}
#ribbon-left {
  border-left: 150px solid #d81f3e;
  border-bottom: 80px solid transparent;
  bottom: -6em;
  left: 3em;
  transform: rotate(25deg);
}
#ribbon-right {
  border-right: 150px solid #d81f3e;
  border-bottom: 80px solid transparent;
  bottom: -6em;
  right: 3em;
  transform: rotate(-25deg);
}
